<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vcrow.rides">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectUberSplash">
        <activity android:name="com.vcrow.rides.Driver.DriverPaymentActivity"/>
        <activity android:name="com.vcrow.rides.Passenger.PassengerPaymentActivity" />
        <activity android:name="com.vcrow.rides.Driver.DriverCarDetailsActivity" />
        <activity android:name="com.vcrow.rides.CompletedRides.CompletedRidesActivity" />
        <activity android:name="com.vcrow.rides.SelectModeActivity" />
        <activity android:name="com.vcrow.rides.Maps.PassengerMapsActivity" />
        <activity android:name="com.vcrow.rides.Passenger.MyRideActivity" />
        <activity
            android:name="com.vcrow.rides.Auth.GetingCredentialsActivity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity android:name="com.vcrow.rides.Driver.AcceptRideActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.vcrow.rides.Maps.DriverMapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.vcrow.rides.Auth.SignInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.vcrow.rides.Auth.ReceivedOTPActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.vcrow.rides.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>